{% extends 'blog/base.html' %}
{% load static %}
{% block page_level_css %}
{% endblock %}
{% block page_level_js %}
{% endblock %}

{% block title %} API {% endblock %}
{% block active_index %}nav-link{% endblock %}
{% block active_add_post %}nav-link{% endblock %}
{% block active_api %}nav-link active{% endblock %}
{% block content-body %}
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-primary white">
            <tr>
                <th>#</th>
                <th>URLs</th>
                <th>Mô tả</th>
                <th>Ghi chú</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{% url 'blog:dashboard:search-post' %}</td>
                <td>Tìm kiếm thông tin bài đăng</td>
                <td>
                    method <b>GET</b>
                    <br>
                    param <b>?text_search=</b>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{% url 'blog:dashboard:get-content-quick-view' %}</td>
                <td>Lấy nội dung để hiển thị nhanh</td>
                <td>
                    method <b>GET</b>
                    <br>
                    param <b>?uuid=</b>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{% url 'blog:dashboard:list_all_articles' %}</td>
                <td>Lấy tất cả bài viết</td>
                <td>
                    method <b>GET</b>
                    <br>
                    param <b>?limit=</b>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{% url 'blog:dashboard:get_an_article' 'cbb366fe-7271-4664-b0a8-9f3079d65c45' %}</td>
                <td>Lấy nội dung của 1 bài viết</td>
                <td>
                    method <b>GET</b>
                    <br>
                    path uuid của bài viết <b>cbb366fe-7271-4664-b0a8-9f3079d65c45</b>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{% url 'account:check-login' %}</td>
                <td>Kiểm tra đăng nhập</td>
                <td>
                    method <b>POST</b>
                    <br>
                    <b>form-data: username, password</b>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{% url 'blog:dashboard:update-or-create-an-article' %}</td>
                <td>Tạo hoặc chỉnh sửa bài viết</td>
                <td>
                    method <b>POST</b>
                    <br>
                    <b>form-data: uuid, title, content, html, owner: int</b>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{% url 'blog:dashboard:delete-the-article' 'cbb366fe-7271-4664-b0a8-9f3079d65c45' %}</td>
                <td>Xóa 1 bài viết</td>
                <td>
                    method <b>DELETE</b>
                    <br>
                    path uuid của bài viết <b>cbb366fe-7271-4664-b0a8-9f3079d65c45</b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}